
<div class="container">
  <table class="table table-bordered table-inverse">
    <tr>
      <th>Title</th>
      <th>Rated</th>
      <th>Director</th>
      <th>Poster</th>
    </tr>
    <tr *ngFor="let movie of movies">
      <td>
        <a [routerLink]="['/movie/details', movie.movieId]">{{movie.title}}</a>
      </td>
      <td>
        {{movie.rated}}
      </td>
      <td>
        {{movie.director}}
      </td>
      <td>
        <img src="{{movie.poster}}" width="100px" alt="Movie Poster">
      </td>

    </tr>
  </table>
</div>
